<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>File Upload to S3!</title>
</head>

<style>
  body {
    padding: 10% 30%;
  }

  * {
    padding: 10px;
  }
</style>

<body>
  <form action="/api/upload" method="post" enctype="multipart/form-data">
    <label for="file">File</label>
    <br>
    <input required="true" type="file" name="file" id="file">
    <button type="submit">Upload</button>
  </form>
</body>

</html>