<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>File Upload to S3!</title>
</head>

<style>
  body {
    padding: 10% 30%;
  }
</style>

<body>
  <h2>Your file has been upload!</h2>
  <br>
  <h4>{{filename}}</h4>
  <br>
  <a href={{link}} target="_blank">Download File!</a>
  <br>
  <hr>
  <a href="/">Go to home!</a>
</body>

</html>